<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rulette | {{ .game_name }}</title>
    <link rel="stylesheet" href="/static/css/style.css"> 
    <script src="/static/js/htmx.min.js"></script>
  </head>
  <body>
    <!-- <script src="index.js"></script> -->

    <article id="title">
      <h1>{{ .game_name }}</h1>
    </article>

    <article id="players">
      <h2>players</h2>
      <table>
        <thead>
          <tr>
            <th>name</th>
            <th>points</th>
          </tr>
        </thead>
        <tbody>
          {{ range .players }}
            <tr id="{{ .id }}">
              <td class="name">{{ .name }}</td>
              <td class="points">{{ .points }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </article>

    <article id="table" hx-get="/{{ .game_id }}/table" 
      hx-target="#table-top" hx-trigger="load, every 500ms" hx-swap="innerHTML">
      <section id="table-top">Loading...</section>
    </article>

    <article id="log">
      <h2>log</h2>
    </article>

    <br>

    <footer>
      <small>
        A rule stacking game based on Season 7, Episode 7 of Game Changer on <a href="https://www.dropout.tv/">DropoutTV</a>.
      </small>
    </footer>
  </body>
</html>

