<section>
  <h2>{{ .game_name }}</h2>
  <p>Game created!</p>
  <form action="/{{ .game_id }}/join" method="POST">
    <div id="join">
      <label for="username">Enter a username to join:</label>
      <input type="text" id="username" name="username" required />
      <input type="submit" value="Join" />
    </div>
  </form>
</section>
