<article id="players">
  <h2>players</h2>
  {{ range .players }}
    <section id="player-{{ .id }}" class="player">
      <div>{{ .name }}</div>
      <div>{{ .points }}</div>
      <div>
        {{ range .cards }}
        <div class="card">{{ . }}</div>
        {{ end }}
      </div>
    </section>
  {{ else }}
  {{ if .game_state == "waiting" }}
    <section class="player">
      <p>Invite players with a <a href="/{{ .game_id }}/join">Share Link</a></p>
    </section>
  {{ end }}
</article>
