<article id="players">
  <h2>players</h2>
  {{ range .Players }}
  <section id="player-{{ .id }}" class="player">
    <div>{{ .Name }}</div>
    <div>{{ .Points }}</div>
    <!-- TODO: handle cards
    {{ range .cards }}
    <ul>
      <li class="card">{{ . }}</li>
    </ul>
    -->
  </section>
  {{ end }}
  {{ if eq .Game.StateName "inviting" }}
  <section class="player">
    <p>Invite players with a <a href="/{{ .game_id }}/join">Share Link</a></p>
  </section>
  {{ end }}
</article>
