{{- $gid := .Game.ID -}}
{{- if ne .Game.StateName "inviting" -}}
    {{ $cid := .CallerID }}
    {{ $isHost := false }}
    {{ range .Players }}
      {{ if and (eq .Initiative.Int32 0) (eq $cid .PlayerID) }}
        {{ $isHost = true }}
      {{ end }}
    {{ end }}
    {{ $isTurn := false }}
    {{ range .Players }}
      {{ if and (eq $cid .PlayerID) (eq .Initiative.Int32 $.Game.InitiativeCurrent.Int32) }}
        {{ $isTurn = true }}
      {{ end }}
    {{ end }}
    <div class="table-bar">
      {{ if and (eq $.Game.StateName "turn") $isTurn }}
        <button class="button-teal"
          hx-post="/{{ $gid }}/action/spin"
          hx-swap="none">
          spin
        </button>
      {{ end }}
      {{ if $isHost }}
        {{ if eq $.Game.StateName "ready" }}
          <button class="button-action"
            hx-post="/{{ $gid }}/action/resume"
            hx-swap="none">
            resume
          </button>
        {{ else if eq $.Game.StateName "turn" }}
          <button class="button-action"
            hx-post="/{{ $gid }}/action/pause"
            hx-swap="none">
            pause
          </button>
        {{ else if eq $.Game.StateName "ending" }}
          <button class="button-danger"
            hx-post="/{{ $gid }}/action/endgame"
            hx-swap="none">
            end game
          </button>
        {{ end }}
      {{ end }}
    </div>
    {{ if $isHost }}
      <div class="table-bar">
        <button class="button-action" data-open-dialog="change-points-dialog" data-fetch-event="loadChangePoints">
          change points
        </button>
      </div>
    {{ end }}
{{- end -}}
