{{ $cards := .Cards }}
<article id="players" class="players">
  <h2>players</h2>
  {{ range .Players }}
  {{ $playerID := .PlayerID }}
  <section id="player-{{ .PlayerID }}" class="player">
    <div>{{ .Name }}</div>
    <div>current points: {{ .Points.Value }}</div>
     {{ if and .Initiative.Valid (eq .Initiative.Int32 0) }}
    <button 
      type="button"
      class="btn"
      onclick="openPointsModal('{{ $.Game.ID }}','{{ .PlayerID }}', '{{ .Name }}')">
      change points
    </button>
    {{ end }}
    <div>Initiative: {{ .Initiative.Int32 }}</div>
    <div>
      {{ range $cards }}
      {{ if eq .PlayerID.Value $playerID }}
      <button>{{ .Front }}</button>
      {{ end }}
      {{ end }}
    </div>
  </section>
  {{ end }}
  {{ if eq .Game.StateName "inviting" }}
  <section class="player">
    <p>Invite players with a <a href="/{{ .Game.ID }}/join">Share Link</a></p>
  </section>
  {{ end }}
</article>

