{{ if eq .Game.StateName "pending" }}
  {{ range .Players }}
    {{ if eq .Initiative.Int32 $.Game.InitiativeCurrent.Int32 }}
      {{ $pid := .PlayerID }}
      {{ $pname := .Name }}
      {{ $effect := "" }}
      {{ range $.CardsPlayers }}
        {{ if and (eq .PlayerID.Int32 $pid) (eq .Type "modifier") }}
          {{ $effect = .ModifierEffect.String }}
        {{ end }}
      {{ end }}
      <div id="modifier-data" class="stack"
        data-turn-player="{{ $pname }}" data-effect="{{ $effect }}">
        <h2><span class="script">{{ $effect }}</span> card!</h2>
        {{ if or (eq $effect "clone") (eq $effect "transfer") }}
          <p>Choose a player to target:</p>
          <div class="stack stack-centered">
            {{ range $.Players }}
              {{ if and (ne .PlayerID $pid) (ne .Initiative.Int32 0) }}
                <span class="modifier-target-btn"
                  data-target-id="{{ .PlayerID }}">
                  {{ .Name }}
                </span>
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
        <p>Choose a card to {{ $effect }}:</p>
        <div class="actions" style="justify-content:center">
          {{ range $.CardsPlayers }}
            {{ if and (eq .PlayerID.Int32 $pid) (eq .Type "rule") }}
              <button class="index-card index-card-accuse modifier-card-btn"
                data-game-card-id="{{ .ID }}"
                data-action="/{{ $.Game.ID }}/action/{{ $effect }}">
                {{ .Content }}
              </button>
            {{ end }}
          {{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
