{{ $cards := .CardsPlayers }}
{{ $cid := .CallerID }}
{{ $gid := .Game.ID }}
<section class="stack">
  {{ range .Players }}
    {{ $pid := .PlayerID }}
    <article id="player-{{ .PlayerID }}" class="player">
      <span class="player-name">{{ .Name }}</span>
      <span class="player-score">{{ .Points.Value }}</span>
      <button class="player-hey" data-open-dialog="hey-dialog" data-fetch-event="loadAccuse">hey!</button>
      {{ $rules := false }}
      {{ range $cards }}
        {{ if eq .PlayerID.Int32 $pid }}
          {{ if not $rules }}
            {{ $rules = true }}
      <div class="player-rules"><ul>
          {{ end }}
            <li>{{ .Content }}</li>
          {{ end }}
      {{ end }}
      {{ if $rules }}</ul></div>{{ end }}
    </article>
  {{ end }}
  {{ if eq .Game.StateName "inviting" }}
    <div class="invite stack">
      <button class="button card-action"
        data-open-dialog="invite-dialog"
        data-invite-link="/{{ $gid }}/join"
        data-qr-src="/{{ $gid }}/qr">
        Invite<br>Players
      </button>
      {{ $isHost := false }}
      {{ range .Players }}
        {{ if and (eq .Initiative.Int32 0) (eq $cid .PlayerID) }}
          {{ $isHost = true }}
        {{ end }}
      {{ end }}
      {{ if $isHost }}
        <button id="start" class="button card-action"
          hx-post="/{{ $gid }}/action/start"
          hx-swap="none">
          Start<br>Game
        </button>
      {{ end }}
    </div>
  {{ end }}
</section>
